.bg-green{
    background-color: #54B949;
    
}
.bg-light{
    background-color: #fff;
}
.text-blue {
    color: #0e1de7;
}
.logo {
    margin-top: 50px;
    margin-bottom: 50px;
}

.salir {
    margin-top: 100px;
    width: 100px;
}
.contenedorCuentas {
    padding: 10px 10px 10px 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}
.contenedorOpciones {
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 10px -15px;
    border-radius: 5px;
    width: 300px;
}

.infoCuentas h3{
    font-size: 1rem;
    color: #0e1de7;
}

.infoCuentas h1 {
    color: #0e1de7;
    margin-bottom: 100px;
}
.btnSalir {
    margin-top: 100px;
    width: 80px;
    color: #fff;
}
.btnSalir2 {
    margin-top: 105px;
    width: 80px;
    color: #fff;
    margin-top: 275px;
}

.btnTest{
    background-color: red;
    float: right;
    background-color: #54B949;
    color: #fff;
}
